{% extends 'master.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h4>In App Template: {{ object.title }} </h4>
        <p>
            {% if object.description != '' %}
                {{ description }}
            {% else %}
                {{ 'Description coming soon.' }}
            {% endif %}
        </p>
        <p>Price = Rs {{ object.price }}</p>
        <img src="{{ object.product_image.url }}" class="img-responsive" alt="image-{{ object.title }}">
    </div>
</div>

{% endblock %}